<!--ワンタイムパスワード入力画面のHTMLファイル-->

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <!--ブラウザのタブに表示されるタイトルを設定-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ワンタイムパスワード確認</title>
    <style>
        /* スマホのときだけ文字を大きくする */
        @media screen and (max-width: 600px) {
            body {
                font-size: 1.7em;  /* スマホだけ1.7倍にする */
            }
            input, button, label, a, h1 {
                font-size: 1.7em;  /* スマホで入力欄・ボタンの文字も大きく */
            }
        }
    </style>
</head>
<body>
    <!--見出しを設定-->
    <h1>ワンタイムパスワード確認</h1>
    <!--ワンタイムパスワード画面の項目（ワンタイムパスワード入力欄、確認ボタン）を配置-->
    <form action="{{ url_for('verify')}}" method="POST">
        <label for="otp">ワンタイムパスワード</label>
        <input type="text" name="otp" required><br><br>
        <button type="submit">確認</button>
    </form> 
</body>
</html>
